<section class="wrapper bg-light">
  <div class="container py-14 py-md-17">
    <div class="hwo">
      <div class="col-md-8 col-lg-7 position-relative">
        <a href="../../assets/media/movie.mp4"
          class="btn btn-circle btn-primary btn-play ripple mx-auto mb-5 position-absolute"
          style="top:50%; left: 50%; transform: translate(-50%,-50%); z-index:3;" data-glightbox data-gallery="about"><i
            class="icn-caret-right"></i></a>
        <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0"
          style="bottom: -1.8rem; right: -1.5rem; width: 85%; height: 90%; "></div>
        <figure class="rounded"><img src="../../assets/img/photos/about12.jpg"
            srcset="../../assets/img/photos/about12@2x.jpg 2x" alt=""></figure>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <app-who-are-we></app-who-are-we>
      </div>
    </div>
    <app-our-team></app-our-team>
  </div>
</section>
