<div class="item">
  <div class="item-inner">
    <article>
      <div class="card " style="width: 18rem;">
        <figure class="card-img-top overlay overlay-5 hover-scale">
          <a href="#">
            <img [src]="srcImage" alt="" /></a>
          <figcaption>
            <h5 class="from-top mb-0">Read More</h5>
          </figcaption>
        </figure>
        <div class="card-body">
          <div class="post-header">
            <h2 class="post-title h3 mt-1 mb-3">
              <a class="link-dark" href="./blog-post.html">
                {{title}} </a>
            </h2>
          </div>
          <div class="post-content">
            <p>{{content}} </p>
          </div>
        </div>
        <div class="card-footer">
          <ul class="post-meta d-flex mb-0">
            <li class="post-date">
              <i class="uil uil-calendar-alt"></i>
              <span>{{date}} </span>
            </li>
            <li class="post-comments">
              <a href="#">
                <i class="uil uil-file-alt fs-15"></i>
                {{footer}} </a>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</div>
