<app-col-title [classTitle]="'fs-15 text-uppercase text-primary mb-3'" [classSubTitle]="'display-4 mb-6'"
  [title]="'Who Are We?'" [subTitle]="'Company that believes in the power of creative strategy.'"
  [classContent]="'mb-6'" [content]="'Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo
  odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl
  consectetur et.'"></app-col-title>

<app-mat-detail [data]="data"></app-mat-detail>
