/* You can add global styles to this file, and also import other style files */

@import "bulma/css/bulma.css";

body {
  height: 72pc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}
