<div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center mb-md-15" id="solutions">
  <div class="col-lg-7 order-lg-2">
    <figure><img class="w-auto" src="../../../assets/img/illustrations/i17.png"
        srcset="../../../assets/img/illustrations/i17@2x.png 2x" alt="" /></figure>
  </div>

  <div class="col-lg-5">
    <app-col-title
      [classTitle]="'fs-15 text-uppercase text-primary mb-3 text-start'"
      [classSubTitle]="'display-4 mb-5 text-start'"
      [classContent]="'mb-6 text-start'"
      [title]="'Our Solutions'"
      [subTitle]="'We make your spending stress-free for you to have the perfect control.'"
      [content]="'Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo
       odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus.'"
      ></app-col-title>

      <app-mat-detail [data]="data"></app-mat-detail>

  </div>
</div>
