.letters {
  display: flex;
  flex-direction: row;
}

.pending {
  color: gray;
  font-size: 22px;
}

.correct {
  color: green;
  font-size: 22px;
}

.incorrect {
  color: red;
  font-weight: bold;
  font-size: 22px;
}

input {
  font-size: 22px;
}
