<section class="section">
  <div ass="container pt-9 pb-12" style="z-index: 5; position:relative">
    <div class="roww" >
      <div class="col-sm-5 col-md-6 align-self-center">
        <div class="col1">
          <h1 class="mb-5 display-1 text-white">Découvrez nos métiers</h1>
          <p class="text-white lead fs-lg lh-sm mb-7 pe-xl-10"
            style="max-width: 80%;"
          >Technicien ou non, chacun a sa place dans la technologie. Les secteurs du numérique et des nouvelles technologies offrent de nombreuses possibilités passionnantes et différents parcours de carrière dans les domaines de l’informatique, la Big Data et l’Intelligence Artificielle. Vous êtes à la recherche d'un nouvel emploi stimulant, à l’écoute de nouvelles opportunités ou vous envisagez un changement de carrière ? Kaisens Data recrute de nouveaux talents ingénieurs, services administratifs, marketing et communication.
          Libérez votre potentiel avec Kaisens Data ! </p>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <figure class="img">
          <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.9TeVXr3fF3dEGwUFLBRGAQHaD0%26pid%3DApi&f=1" alt="">
        </figure>
      </div>
    </div>
  </div>
</section>
